@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.navbar-brand img{
    width: 250px;
    height: 39px;
}
.navbar-toggler{
    background-color: #16201b;
    border: none !important;
    padding: 8px 12px;
}

.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2.5' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.cta-button{
    
padding-top: 10px;
padding-bottom: 10px;
padding-left: 15px;
padding-right: 15px;
    background-color: #D4AF37;
    border-radius: 34px;
    
}
.hero{
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url("../images/hero image bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 100%;
    height: 110vh;
}
.new{
    padding-top: 100px;
    padding-bottom: 100px;
}
.herotxt{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
    line-height: 100%;
    font-size: 78px;
}
.herop{
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
    line-height: 100%;
    font-size: 22px;
}
.text-div{
    max-width:866px;
    margin:auto;
    text-align:center;
}
.heropt{
    max-width: 740px;
    margin: auto;
    text-align: center;
}

/* Small Mobile */
@media (max-width: 576px) {
 .logo{
    
        max-width: 120px;
    
    }

    .nav-link{
        font-size: 14px;
    }

    .cta-button{
        font-size: 14px;
        padding: 10px 15px;
    }
    .herotxt{
     font-size: 26px !important;
 }
 .herop {
        font-size: 14px !important;
    }
     
}
/* Mobile */
@media (max-width: 768px) {

    .logo{
        width: 120px;
    }

    .navbar-nav{
        gap: 8px !important;
    }

    .nav-link{
        font-size: 16px;
    }

    .cta-button{
        width: 100%;
    }
    
   .herotxt {
        font-size: 48px;
    }
        .heropt {
        max-width: 484px !important;
    }
        .herop {
        font-size: 17px;
    }
}
/* Tablet */
@media (max-width: 992px) {

    .logo{
        width: 150px;
    }

    .navbar-nav{
        text-align: center;
        gap: 10px !important;
        margin-top: 20px;
    }

    .cta_button{
        text-align: center;
        margin-top: 20px;
    }
.hero{
    height: 80vh !important;

}
.herotxt{

    font-size: 72px;
}

}
@media (max-width: 1200px) {

    .logo{
        width: 130px;
    }

    .navbar-nav{
        gap: 8px !important;
    }

    .nav-link{
        font-size: 14px;
    }

    .cta-button{
        padding: 10px 15px;
        font-size: 14px;
    }
    .herotxt{
     font-size: 65px I !important;
 }
.herotxt{

    font-size: 62px;
}
.herop {
 
    font-size: 18px;
}

    .heropt {
        max-width: 659px;
    }

}