@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.navbar-brand img{
    width: 250px;
    height: 39px;
}
.navbar-toggler{
    background-color: #16201b;
    border: none !important;
    padding: 8px 12px;
}

.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2.5' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.cta-button {
    position: relative;
    overflow: hidden;
    z-index: 1;

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-size: 16px;

    padding: 10px 15px;
    background-color: #D4AF37;
    color: #000;
    border: none;
    border-radius: 34px;
    cursor: pointer;

    transition: color 0.4s ease;
}

.cta-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #b8941f; /* Darker gold */
    transition: left 0.4s ease;
    z-index: -1;
}

.cta-button:hover::before {
    left: 0;
}

.cta-button:hover {
    color: #fff;
}
.hero{
    padding-top: 58px;
    padding-bottom: 100px;
    background-image: url("../images/hero image bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 100%;
    height: 561px;
    width: 100%;
}
.brands{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #000;
}
.herotxt{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
    line-height: 100%;
    font-size: 78px;
}
.herop{
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
    font-size: 22px;
    line-height: 150%;
}
.text-div{
    max-width:866px;
    margin:auto;
    text-align:center;
}
.heropt{
    max-width: 740px;
    margin: auto;
    text-align: center;
}
.submitbtn {
    position: relative;
    overflow: hidden;
    z-index: 1;

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-size: 15px;

    padding: 10px 30px;
    border-radius: 34px;
    background-color: #D4AF37;
    width: 362px;
    height: 50px;
    border: none;
    cursor: pointer;

    transition: color .4s ease;
}

.submitbtn::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #b8941f;
    transition: left .4s ease;
    z-index: -1;
}

.submitbtn:hover::before {
    left: 0;
}

.submitbtn:hover {
    color: white;
}

.about{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #2D2D2D;
    opacity:100%;

}
.about-divider{
    width: 1619px;
    max-width: 90%;
    height: 1px;
    background: rgba(255,255,255,0.5);
    margin: 0 auto;
}

.about-bg{
    position: relative;
    background-image: url("../images/about.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 100%;
     aspect-ratio: 919 / 663;
}
.about-bg::after{
    content:"";
    position:absolute;
    inset:0;

    background:linear-gradient(
        to right,
        rgba(0,0,0,.10),
        rgba(0,0,0,.55),
        #2D2D2D
    );
}

.about-txt{
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
    font-size: 30px;
    color: #FFD700;
    text-align: start;
}
.about-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
    
}
.about p{
     font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
    font-size: 46px;
    line-height: 120%;
    color: #fff;
}
.smmp{
    font-family: "Montserrat", sans-serif;
  font-weight: 400 !important;
  font-style: normal;
    font-size: 18px !important;
    line-height: 150% !important;
    color: #FFFFFF;
}
.smsp{
    font-weight:bold;
}

.underabout{
    background-color: #2D2D2D;
}
.founder-para{
    font-family:"Montserrat",sans-serif;
    font-size:20px;
    font-weight: 400;
    line-height:150%;
    color:#d6d6d6;
    
}
.founder-para-div{
     max-width:715px;
     height: 115px;
    margin:auto;
    text-align:start;
}
.founder-para-new{
     max-width:715px;
     height: 115px;
    margin:auto;
    text-align:start;
}
.founder-para-end{
    max-width: 715px;
    margin:auto;
    text-align: start;
    height: 80px;
}

.founder-para strong{
    color:#fff;
    font-weight:600;
    font-size: 17px;
}

.founder-heading{
    font-family:"Montserrat",sans-serif;
    font-size:18px;
    font-weight:600;
    line-height: 150%;
    color:#fff;
    margin-bottom:19px;
    margin-top: 52px;
}

.founder-list{
    list-style:none;
    padding:0;
    margin:0;
}

.founder-list li{
    position:relative;
    padding-left:35px;
    margin-bottom:38px;
    color:#d6d6d6;
    font-family:"Montserrat",sans-serif;
    font-size:18px;
    font-weight: 400;
    line-height:150%;
}

.founder-list li::before{
    content:"✓";
    position:absolute;
    left:0;
    top:0;
    color:#FFD700;
    font-size:20px;
    font-weight:700;
}
.stand{
    background-color : black;
    color: #FFFFFF;
}
.box{
    padding: 40px 52px;
}
.TXT{
     font-family:"Montserrat",sans-serif;
    font-size:50px;
    font-weight:600;
    line-height: 120%;
    color:#fff;
}
.list{
    list-style:none;
    padding:0;
    margin:0;
}
.list li{
    position: relative;
    margin-bottom: 20px;
    padding-left: 35px;
     color:#d6d6d6;
    font-family:"Montserrat",sans-serif;
    font-size:18px;
    font-weight: 400;
    line-height:150%;
}
.list li::before{
    content:"✓";
    position:absolute;
    left:0;
    top:0;
    color:#FFD700;
    font-size:20px;
    font-weight:700;
}
.listsp{
    font-family:"Montserrat",sans-serif;
    font-size:19px;
    font-weight: 800;
}
.standbg{
       position: relative;
    background-image: url("../images/stand img.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 100%;
     aspect-ratio: 946 / 693;
}
.standbg::after{
    content:"";
    position:absolute;
    inset:0;

    background:linear-gradient(
        to left,
        rgba(0,0,0,.10),
        rgba(0,0,0,.55),
        #2D2D2D
    );
}
.exists{
    background-image: url("../images/existsimg.png");
     background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 100%;
    padding: 100px 0px;
    background-color: #302e2e;
}
.existstxt{
font-family:"Montserrat",sans-serif;
    font-size:50px;
    font-weight: 700;
    line-height:120%;
}
.extxt{
    font-family:"Montserrat",sans-serif;
    font-size:21px;
    font-weight: 600;
    line-height:150%;
    color: #FFFFFF;
    margin-top: 20px;
}
.unlist{
     list-style:none;
    padding:0;
    margin:0;

}
.unlist li{
    position: relative;
    margin-bottom: 20px;
    padding-left: 45px;
     color:#FFFFFF;
    font-family:"Montserrat",sans-serif;
    font-size:20px;
    font-weight: 400;
    line-height:150%;
    margin-top: 20px;

}
.unlist li::before{
    content:"✓";
    position:absolute;
    left:0;
    top:0;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#0F054C;
    font-size:20px;
    font-weight:700;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background-color: #EED17B;
}
.htxt{
       font-family:"Montserrat",sans-serif;
    font-size:19px;
    font-weight: 600;
    line-height:150%;
    color:#FFFFFF;
}
.htxtp{
      font-family:"Montserrat",sans-serif;
    font-size:20px;
    font-weight: 400;
    line-height:150%;
    color:#FFFFFF;
}
.extxtt{
      font-family:"Montserrat",sans-serif;
    font-size:21px;
    font-weight: 600;
    line-height:150%;
    color: #FFFFFF;
    margin-top: 45px;
}
.clientss{
    background-color: #121212;
     
}
.clientbg{
    aspect-ratio: 919 / 667;
    background-image: url("../images/clientbg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 100%;
    overflow: hidden;
    width: 100%;

    
}
.clientbg::after{
    content:"";
    position:absolute;
    inset:0;

    background:linear-gradient(
        to right,
        rgba(0,0,0,.10),
        rgba(0,0,0,.55),
        #2D2D2D
    );
}
.clienttxt{
     font-family:"Montserrat",sans-serif;
    font-size:30px;
    font-weight: 600;
    line-height:100%;
    color: #FFD700;
}
.clientp{
    font-family:"Montserrat",sans-serif;
    font-size:50px;
    font-weight: 800;
    line-height:120%;
    color: #FFFFFF;
    opacity: 100%;
}
.clientp1{
       font-family:"Montserrat",sans-serif;
    font-size:20px;
    font-weight: 600;
    line-height:150%;
    color: #FFFFFF;
}
.cllist{
    list-style:none;
    padding:0;
    margin:0;

}
.cllist li{
     position: relative;
    margin-bottom: 20px;
    padding-left: 50px;
     color:#FFFFFF;
    font-family:"Montserrat",sans-serif;
    font-size:20px;
    font-weight: 400;
    line-height:150%;
    margin-top: 20px;
}
.cllist li::before{
     content:"✓";
    position:absolute;
    left:0;
    top:0;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#0F054C;
    font-size:20px;
    font-weight:700;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background-color: #EED17B;
}
.problems{
    background-color: #000;
    padding: 100px 0px;
}
.gtext{
    color:#FFFFFF;
    font-family:"Montserrat",sans-serif;
    font-size:23px;
    font-weight: 800;
    line-height:100%;

}
.gptxt{
      color:#FFFFFF;
    font-family:"Montserrat",sans-serif;
    font-size:15px;
    font-weight: 400;
    line-height:150%;
}
.p-box{
    height: 210px;
    width: 100%;
    background-color: #2D2D2D;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px 30px;
    transition: all 0.35s ease;
}
.p-box:hover{
    background-color: #0F054C;
      transform: translateY(-6px);
    box-shadow:
        0 8px 20px rgba(255, 255, 255, 0.808),
        0 15px 40px rgba(247, 246, 246, 0.12);
}
.pbtxt{
     color:#FFFFFF;
    font-family:"Montserrat",sans-serif;
    font-size:50px;
    font-weight: 800;
    line-height:120%;
}
.pbptx{
    color:#FFFFFF;
    font-family:"Montserrat",sans-serif;
    font-size:20px;
    font-weight: 500;
    line-height:150%;
}
.we-do{
    background-image: url("../images/workwe.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 100%;
    padding: 100px 0px;
background-color:#242222;
}
.dotxt{
    color:#FFFFFF;
    font-family:"Montserrat",sans-serif;
    font-size:50px;
    font-weight: 800;
    line-height:120%;
}
.wedtxt{
    margin-top: 40px;
       color:#FFFFFF;
    font-family:"Montserrat",sans-serif;
    font-size:25px;
    font-weight: 600;
    line-height:150%;
}
.wertxt{
     color:#FFFFFF;
    font-family:"Montserrat",sans-serif;
    font-size:17px;
    font-weight: 500;
    line-height:150%;
}
.service-card{
   
    border-radius: 20px;
      padding: 10px 20px;
    background-color: #2D2D2D;
    transition: all .35s ease;
}
.service-card:hover{
    background-color: #0F054C;
    transform: translateY(-6px);
    box-shadow:
        0 8px 20px rgba(255, 255, 255, 0.808),
        0 15px 40px rgba(247, 246, 246, 0.12);
}

.service-card-wide{
    background:#2D2D2D;
    border-radius:20px;
    padding:30px;
    display:flex;
    align-items:center;
    height:100%;
     transition: all .35s ease;
}
.service-card-wide:hover{
        background-color: #0F054C;
    transform: translateY(-6px);
    box-shadow:
        0 8px 20px rgba(255, 255, 255, 0.808),
        0 15px 40px rgba(247, 246, 246, 0.12);
}

.stxt{
    margin-top: 10px;
    color:#FFFFFF;
    font-family:"Montserrat",sans-serif;
    font-size:19px;
    font-weight: 800;
    line-height:100%;
}
.sptxt{
    color:#FFFFFF;
    font-family:"Montserrat",sans-serif;
    font-size:18px;
    font-weight: 400;
    line-height:150%;
}

.icon-circle{
    width:71px;
    height:71px;
    border-radius:50%;
    background:#EED17B;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom:24px;
}

.icon-circle img{
    width:63px;
    height:48px;
    object-fit:contain;
}
.outcomes{
    background:#2d2d2d;
    padding:100px 0;
}

.out-box{
    background:#494949;
    border-radius:20px;
    min-height:90px;
    

    display:flex;
    justify-content:center;
    align-items:center;

    text-align:center;

    padding:20px;
}

.out-item{
    align-items:flex-start;
    
}

.out-icon{
    width:34px;
    height:34px;
    min-width:34px;

    border-radius:50%;
    background:#EED17B;

    display:flex;
    justify-content:center;
    align-items:center;

    margin-right:18px;
}

.out-icon img{
    width:14px;
}

.out-item p{
    margin-top:4px;
}
.out-title{
     color:#FFFFFF;
    font-family:"Montserrat",sans-serif;
    font-size:50px;
    font-weight: 800;
    line-height:120%;
}
.out-subtitle{
    color:#FFFFFF;
    font-family:"Montserrat",sans-serif;
    font-size:20px;
    font-weight: 600;
    line-height:150%;
}
.out-box-title{
    color:#FFFFFF;
    font-family:"Montserrat",sans-serif;
    font-size:21px;
    font-weight: 800;
    line-height:100%;
}
.b-txt{
      color:#FFFFFF;
    font-family:"Montserrat",sans-serif;
    font-size:16px;
    font-weight: 400;
    line-height:150%;
}
.out-box{
    transition: all 0.35s ease;
}
.out-box:hover{
        background-color: #0F054C;
    transform: translateY(-6px);
    box-shadow:
        0 8px 20px rgba(255, 255, 255, 0.808),
        0 15px 40px rgba(247, 246, 246, 0.12);
}
.typo{
    background:#EED17A;
    padding:100px 0;
}

.work-strip-text{
        margin:0;

    font-family:'Montserrat',sans-serif;
    font-weight:700;
    font-size:60px;
    line-height:1;

    text-transform:uppercase;
    white-space:nowrap;

    color:transparent;

    /* Outline */
     -webkit-text-stroke:1.3px #000;
    opacity:.9;

    /* This creates the crisp outline look */

}






/* Small Mobile */
@media (max-width: 576px) {

    .out-title {
        color: #FFFFFF;
        font-family: "Montserrat", sans-serif;
        font-size: 27px !important;
    }
        .out-subtitle {
        color: #FFFFFF;
        font-family: "Montserrat", sans-serif;
        font-size: 15px !important;
    }
    .out-box-title {
        color: #FFFFFF;
        font-family: "Montserrat", sans-serif;
        font-size: 14px !important;
    }

.service-card{
   display: flex;
   flex-direction: column;
    justify-content: center;
    align-items: center;
}
.icon-circle {
    margin-right: 0px !important;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.service-card-wide {
    display: flex;
    align-items: center;
    height: 100%;
    flex-direction: column;
}
        .dotxt {
        text-align: center;
        color: #FFFFFF;
        font-family: "Montserrat", sans-serif;
        font-size: 28px !important;
    }
        .wedtxt {
        font-size: 19px !important;
    }
        .wertxt {
        font-size: 15px !important;
    }
        .sptxt {
            text-align: center;
        color: #FFFFFF;
        font-family: "Montserrat", sans-serif;
        font-size: 15px !important;
    }
    .stxt {
        text-align: center;
        margin-top: 10px;
        color: #FFFFFF;
        font-family: "Montserrat", sans-serif;
        font-size: 18px;
    }
    .pbtxt {
        font-size: 23px !important;
    }
    .gtext {
        font-size: 15px !important;
    }
    .clientbg {
        aspect-ratio: 919 / 667 !important;
    }
    .clienttxt {
        margin-top: 20px;
        text-align: center !important;
        font-size: 17px !important;
    }

    .clientp {
        font-size: 24px !important;
        text-align: center !important;
    }
        .clientp1 {
        font-size: 14px !important;
        text-align: center;
    }
    .cllist li {
        position: relative;
        margin-bottom: 8px;
        font-size: 13px !important;
        margin-top: 12px;
    }
    .htxtp {
    font-size: 16px;
}
    .exists {
    padding: 48px 0px;
}
        .extxtt {
        margin-top: 26px !important;
    }
    .htxt {
    font-size: 16px;
}

    .unlist li {
        font-size: 15px !important;
    }

    .extxt {
        font-size: 16px !important;
    }
        .existstxt {
        font-size: 24px !important;
    }
    .TXT {
    font-family: "Montserrat", sans-serif;
    font-size: 19px;
    text-align: center;
}
.box {
    padding: 31px 15px;
}
.list li {
    font-size: 15px;
}
    

 .logo{
    
        max-width: 120px;
    
    }
    .submitbtn{

  font-size: 13px;
   
}

    .nav-link{
        font-size: 14px;
    }

    .cta-button{
        font-size: 14px;
        padding: 10px 15px;
    }
    .herotxt{
     font-size: 26px !important;
 }
 .herop {
        font-size: 14px !important;
    }
     .submitbtn {
        width: 206px !important;
        height: 49px !important;
    }
    .about-txt {
margin-top: 20px;
    text-align: center;
    font-size: 25px;
}
.about p {
    font-size: 28px;
    text-align: center;
}
    .founder-heading {
        font-size: 15px;
        margin-top: 103px !important;
    }
    .founder-list li {
        position: relative;
        font-size: 15px !important;
    }
    .founder-para strong {
    color: #fff;
    font-weight: 600;
    font-size: 15px;
}
    .founder-para {
        font-family: "Montserrat", sans-serif;
        font-size: 15px !important;
        font-weight: 400;
        line-height: 150%;
    }
}
/* Mobile */
@media (max-width: 768px) {

    .out-box-title {
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}
.out-title {
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    font-size: 35px;
}
.out-subtitle {
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
}
    .dotxt {
    text-align: center;
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    font-size: 38px;
}
.wedtxt {
    text-align: center;
    margin-top: 40px;
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
}
.wertxt {
    text-align: center;
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}
.stxt {
    margin-top: 10px;
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
}
.sptxt {
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
}
.icon-circle {
    width: 63px;
    height: 63px;
}
    .gtext {
    font-size: 17px;
}
.gptxt {
    font-size: 14px;

}
.pbtxt {
    font-size: 36px;
}
.pbptx {
    font-size: 15px;
}
    .clientbg {
    aspect-ratio: 688 / 778;
    
}
    
    .clientp {
    font-size: 29px;
}
.clientp1 {
    
    font-size: 15px;
}
.cllist li {
    position: relative;
    margin-bottom: 8px;
    font-size: 15px;
    margin-top: 12px;
}
    .clienttxt {
    font-size: 20px;
}


    .founder-list li {
    position: relative;
    padding-left: 35px;
    margin-bottom: 30px;
    font-size: 16px;
}
    .founder-heading {
    font-size: 15px;
    margin-top: 74px;
}
.founder-para {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    
}
    .logo{
        width: 120px;
    }

    .navbar-nav{
        gap: 8px !important;
    }

    .nav-link{
        font-size: 16px;
    }

    .cta-button{
        width: 100%;
    }
    
   .herotxt {
        font-size: 48px;
    }
        .heropt {
        max-width: 484px !important;
    }
        .herop {
        font-size: 17px;
    }
.existstxt {
    font-size: 41px;
}
.extxt {
    
    font-size: 18px;
}
.extxtt {
    font-size: 18px;
    margin-top: 77px;
}    
.unlist li {
    font-size: 18px;
   
}
}
/* Tablet */
@media (max-width: 992px) {

    .logo{
        width: 150px;
    }

    .navbar-nav{
        text-align: center;
        gap: 10px !important;
        margin-top: 20px;
    }

    .cta_button{
        text-align: center;
        margin-top: 20px;
    }
.hero{
    height: 80vh !important;

}


}


@media (min-width: 992px) and (max-width: 1199.98px) {
    .out-box-title {
    font-size: 18px;
}
.out-title {
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
}
.out-subtitle {
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
}
.b-txt {
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 150%;
}
    .sptxt {
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 150%;
}
    .dotxt {
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
}
.wertxt {
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}
.wedtxt {
    margin-top: 40px;
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    font-size: 19px;
}
    .gtext {
    font-size: 18px;
}
.gptxt {
    font-size: 14px;
}
.pbtxt {
    font-size: 46px;
}
.pbptx {
    font-size: 17px;
}

    .clientbg {
    aspect-ratio: 789 / 667;
    
}
    .clienttxt {
    font-family: "Montserrat", sans-serif;
    font-size: 27px;
}
.clientp {
    font-family: "Montserrat", sans-serif;
    font-size: 42px;
}
.clientp1 {
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
}
.cllist li {
    font-size: 16px;
}
    .TXT {
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    font-weight: 600;
    line-height: 120%;
    color: #fff;
}
.list li {
    font-size: 16px;
   
}
.listsp {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-weight: 800;
}
    .founder-para {
   
    font-size: 18px;
    line-height: 150%;
    
}
.herotxt{

    font-size: 56px !important;
}
.navbar-brand img {
    width: 208px;
    height: 39px;
}
.heropt {
        max-width: 586px !important;
    }
    .herop {
        font-size: 16px !important;
    }
.extxtt {

    margin-top: 77px;
}

}

@media (max-width: 1200px) {

    .logo{
        width: 130px;
    }

    .navbar-nav{
        gap: 8px !important;
    }

    .nav-link{
        font-size: 14px;
    }

    .cta-button{
        padding: 10px 15px;
        font-size: 14px;
    }
    
.herop {
 
    font-size: 18px;
}

    .heropt {
        max-width: 659px;
    }
.submitbtn {
   
    width: 285px;
    height: 50px;
}
    .submitbtn {
        width: 234px;
        height: 50px;
    }
}

