@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.navbar-brand img{
    width: 250px;
    height: 39px;
}
.navbar-toggler{
    background-color: #16201b;
    border: none !important;
    padding: 8px 12px;
}

.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2.5' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.cta-button {
    position: relative;
    overflow: hidden;
    z-index: 1;

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-size: 16px;

    padding: 10px 15px;
    background-color: #D4AF37;
    color: #000;
    border: none;
    border-radius: 34px;
    cursor: pointer;

    transition: color 0.4s ease;
}

.cta-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #b8941f; /* Darker gold */
    transition: left 0.4s ease;
    z-index: -1;
}

.cta-button:hover::before {
    left: 0;
}

.cta-button:hover {
    color: #fff;
}
.hero{
    padding-top: 58px;
    padding-bottom: 100px;
    background-image: url("../images/hero image bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 100%;
    height: 561px;
    width: 100%;
}
.brands{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #000;
}
.herotxt{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
    line-height: 100%;
    font-size: 78px;
}
.herop{
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
    font-size: 22px;
    line-height: 150%;
}
.text-div{
    max-width:866px;
    margin:auto;
    text-align:center;
}
.heropt{
    max-width: 740px;
    margin: auto;
    text-align: center;
}
.submitbtn {
    position: relative;
    overflow: hidden;
    z-index: 1;

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-size: 15px;

    padding: 10px 30px;
    border-radius: 34px;
    background-color: #D4AF37;
    width: 362px;
    height: 50px;
    border: none;
    cursor: pointer;

    transition: color .4s ease;
}

.submitbtn::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #b8941f;
    transition: left .4s ease;
    z-index: -1;
}

.submitbtn:hover::before {
    left: 0;
}

.submitbtn:hover {
    color: white;
}

.about{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #2D2D2D;
    opacity:100%;

}
.about-bg{
    position: relative;
    background-image: url("../images/about.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 100%;
     aspect-ratio: 919 / 663;
}
.about-bg::after{
    content:"";
    position:absolute;
    inset:0;

    background:linear-gradient(
        to right,
        rgba(0,0,0,.10),
        rgba(0,0,0,.55),
        #2D2D2D
    );
}

.about-txt{
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
    font-size: 30px;
    color: #FFD700;
    text-align: start;
}
.about-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
    
}
.about p{
     font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
    font-size: 46px;
    line-height: 120%;
    color: #fff;
}
.smmp{
    font-family: "Montserrat", sans-serif;
  font-weight: 400 !important;
  font-style: normal;
    font-size: 18px !important;
    line-height: 150% !important;
    color: #FFFFFF;
}
.smsp{
    font-weight:bold;
}


/* Small Mobile */
@media (max-width: 576px) {
 .logo{
    
        max-width: 120px;
    
    }
    .submitbtn{

  font-size: 13px;
   
}

    .nav-link{
        font-size: 14px;
    }

    .cta-button{
        font-size: 14px;
        padding: 10px 15px;
    }
    .herotxt{
     font-size: 26px !important;
 }
 .herop {
        font-size: 14px !important;
    }
     .submitbtn {
        width: 206px !important;
        height: 49px !important;
    }
    .about-txt {
margin-top: 20px;
    text-align: center;
    font-size: 25px;
}
.about p {
    font-size: 28px;
    text-align: center;
}

}
/* Mobile */
@media (max-width: 768px) {

    .logo{
        width: 120px;
    }

    .navbar-nav{
        gap: 8px !important;
    }

    .nav-link{
        font-size: 16px;
    }

    .cta-button{
        width: 100%;
    }
    
   .herotxt {
        font-size: 48px;
    }
        .heropt {
        max-width: 484px !important;
    }
        .herop {
        font-size: 17px;
    }
}
/* Tablet */
@media (max-width: 992px) {

    .logo{
        width: 150px;
    }

    .navbar-nav{
        text-align: center;
        gap: 10px !important;
        margin-top: 20px;
    }

    .cta_button{
        text-align: center;
        margin-top: 20px;
    }
.hero{
    height: 80vh !important;

}


}
@media (min-width: 992px) and (max-width: 1199.98px) {
.herotxt{

    font-size: 56px !important;
}
.navbar-brand img {
    width: 208px;
    height: 39px;
}
.heropt {
        max-width: 586px !important;
    }
    .herop {
        font-size: 16px !important;
    }
}

@media (max-width: 1200px) {

    .logo{
        width: 130px;
    }

    .navbar-nav{
        gap: 8px !important;
    }

    .nav-link{
        font-size: 14px;
    }

    .cta-button{
        padding: 10px 15px;
        font-size: 14px;
    }
    
.herop {
 
    font-size: 18px;
}

    .heropt {
        max-width: 659px;
    }
.submitbtn {
   
    width: 285px;
    height: 50px;
}
    .submitbtn {
        width: 234px;
        height: 50px;
    }
}